/* 1rem = 1em = 16px */

/**************************/
/* BELOW 1506 (Broken) */
/*************************/

@media (max-width: 94em) {
  .section-aside {
    padding: 2.5rem 1rem;
  }
  .book {
    grid-template-columns: 1fr 1.5fr;
  }

  .section-form {
    padding: 0.5rem 0 0 0;
  }
}
/* } fixing genres */

/**************************/
/* BELOW 1270 (Broken) */
/*************************/

@media (max-width: 80em) {
  .header {
    padding: 0.6rem 2rem;
  }

  .section-aside {
    padding: 2.5rem 0;
    width: 22%;
  }

  .section-books {
    margin-left: 1rem;
  }

  .book {
    grid-template-columns: 1fr 1.5fr;
  }

  .book-comment {
    font-size: 0.8rem;
  }

  .section-form {
    margin: 3rem 3rem 3rem 6rem;
    height: fit-content;
    border-top: 1.5rem solid #999e7d;
    border-bottom: 1.5rem solid #999e7d;
  }

  .form-header {
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
  }

  .form {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .form-label {
    font-size: 0.8rem;
  }

  .form-input {
    height: 1.5rem;
  }
  .form-select-genre,
  .form-comment {
    height: 3rem;
    padding: 0.2rem;
  }

  .submit-form-btn {
    margin-bottom: 0.1rem;
  }
}
/* } fixing genres and edit icon */

/**************************/
/* BELOW 1131 (Broken) */
/*************************/

@media (max-width: 71em) {
  .section-aside {
    margin-left: 2rem;
  }

  .section-filter-all {
    font-size: 0.9rem;
  }

  .section-filter {
    margin-bottom: 1.5rem;
  }

  .filter-btn {
    margin-right: 0.5rem;
  }

  .book {
    grid-template-columns: 1fr 1fr;
  }
}
/* } fixing genres and edit icon */

/**************************/
/* BELOW 944px (Tablets) */
/*************************/

@media (max-width: 59em) {
  .main-sections {
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 3.2fr;
  }

  .section-aside {
    gap: 1rem;
    padding-top: 1rem;
    width: 86%;
  }

  .section-books {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-bottom: 3.5rem;
  }

  .books {
    margin-top: 2rem;
  }

  .book {
    grid-template-columns: 1fr 1.2fr;
    padding: 0.5rem 2rem 0.5rem 1rem;
    gap: 0.1rem 0.2rem;
    height: 7rem;
    grid-template-rows: 1, 5fr 1fr 1fr 1fr;
  }

  .select-list-container {
    display: flex;
    justify-content: end;
  }

  .addIcon {
    display: block;
  }

  /* .select-list:last-of-type {
    margin: 0;
  } */

  .book-rating {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .book-name {
    font-size: 1rem;
  }

  .book-author {
    font-size: 0.8rem;
  }

  .book-date,
  .book-genre {
    font-size: 0.7rem;
  }

  .section-form {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 70%;
    margin: 0;
    justify-self: center;
    height: fit-content;
  }

  .sticky .section-form {
    margin-top: 0;
  }

  .form {
    display: grid;
    gap: 1rem 2rem;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .form-name {
    grid-column: 1 /2;
  }

  .form-author {
    grid-column: 2 /3;
  }

  .form-genre {
    grid-column: 2 /3;
    grid-row: 2 / 3;
  }

  .form-comment {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .form-rating {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .form-date {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .form-input {
    height: 2rem;
  }

  .submit-form-btn {
    width: 30%;
    padding: 0.7rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  .form-btns {
    grid-column: 1 / 3;
  }
}

/**************************/
/* BELOW 776px (Tablets) */
/**************************/

@media (max-width: 48.5em) {
  html {
    font-size: 80%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .main-sections {
    grid-template-columns: 1fr;
    padding: 0 0.7rem;
  }

  .hidden {
    display: none;
  }

  html {
    font-size: 100%;
  }

  .search-bar {
    width: 6rem;
    height: 1.5rem;
    align-items: center;
  }

  .btn-search {
    height: 1rem;
    width: 1rem;
  }

  .total-num {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10px;
  }

  .total-text1,
  .total-text2 {
    font-size: 0.9rem;
  }

  .select-long-btns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .select-list-container {
    justify-content: space-between;
    height: fit-content;
    align-items: center;
  }

  .btn-filter {
    display: inline;
    font-size: 88% !important;
  }

  .book-comment {
    font-size: 0.7rem;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .header {
    padding: 0.3rem 1rem;
  }

  .logo-icon {
    height: 2.5rem;
  }

  .section-books {
    margin-bottom: 3.5rem;
  }

  .books {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
  }

  .book {
    border-left: 1.5rem solid #b58463a3;
  }

  .select-list {
    font-size: 80%;
    margin: 0;
  }

  .book-name {
    font-size: 85%;
  }

  .book-author,
  .book-date,
  .book-genre {
    font-size: 70%;
  }

  .book-rating {
    left: 95%;
  }

  .edit-icon {
    height: 1rem;
    width: 1rem;
  }

  .section-form {
    width: 90%;
    margin-bottom: 3.5rem;
  }

  .sticky .select-list-container {
    margin-top: 3.8rem;
  }

  .sticky .select-list {
    margin-top: 0;
  }

  .sticky .section-aside {
    padding-top: 0.1rem;
  }

  .filter {
    gap: 0.1rem;
  }
}

/**************************/
/* BELOW 460px (Phones) */
/**************************/

@media (max-width: 29em) {
  .main-sections {
    padding: 0.3rem;
  }
  .book {
    grid-template-columns: 1.3fr 1fr;
  }

  .select-list {
    width: 3rem;
  }

  .section-books {
    max-width: 85%;
  }

  .footer-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
  .books {
    gap: 0.9rem;
  }

  /* .book {
    height: fit-content;
  } */
}

/**************************/
/* BELOW 385 (Phones) */
/**************************/

@media (max-width: 24em) {
  .select-list {
    width: 3rem;
  }

  /* .book {
    height: 9rem;
  } */

  .form {
    padding: 0 0.5rem;
    gap: 0.6rem;
  }

  .main-sections {
    padding-right: 0rem;
    padding-left: 0.2rem;
  }

  body {
    width: 24.2rem;
  }
}

/**************************/
/* BELOW 342 (Phones) */
/**************************/

@media (max-width: 21.4em) {
  .main-sections {
    padding-right: 0.1rem;
    padding-left: 0.2rem;
  }

  .section-books {
    width: 24rem;
  }

  .book {
    padding-left: 0.7rem;
    padding-right: 1.3rem;
    height: 6rem;
  }

  .book-author,
  .book-date {
    font-size: 65%;
  }
  .book-genre {
    font-size: 60%;
  }

  .book-rating {
    height: 2.3rem;
    width: 2.3rem;
    font-size: 1.2rem;
  }

  .section-form {
    margin-right: 1rem;
  }
}
