* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #faebca;
}

/* --------------Header---------------- */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #d08c60;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);

  opacity: 95%;
}

.sticky .select-list,
.sticky .section-aside {
  margin-top: 4rem;
}
.sticky .section-form {
  margin-top: 7rem;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 7rem;

  background-color: #d08c60;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  text-decoration: none;
  background-color: #d08c60;
  color: #faebca;
}

.logo-icon {
  height: 3.2rem;
  background-color: #d08c60;
}

.logo-text {
  font-size: 2rem;
  padding-bottom: 0.2rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: #d08c60;
}

.search-bar {
  display: flex;
  justify-content: space-between;

  background-color: #faebca;
  border-radius: 14px;
  padding: 0.5rem;
  width: 20rem;
}

.search-input {
  all: unset;
  border: none;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  width: 100%;
  color: #5d4a3e;
}

.search-input::placeholder {
  color: #997b66;
}

.btn-search {
  all: unset;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}

.btn-icon {
  stroke: #997b66;
  stroke-width: 2.5;
}

/* --------------- Main -------------- */

.main-sections {
  display: flex;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  padding-bottom: 3.5rem;
  border-bottom: 1px solid #5d4a3e2d;
}

/* ---------Aside----------- */

.section-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem;
  padding-right: 1rem;
  gap: 2rem;
  margin-left: 4rem;
  width: 16%;

  font-family: "Raleway", sans-serif;
  /* box-shadow: 1px 0 0 0 #999e7d66; */
}

.total-books {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.total-num,
.book-rating {
  background-color: #999e7d;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  padding: 0.9rem 0.9rem 0.7rem 0.9rem;
  border-radius: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #faebca;
  font-size: 2rem;
  height: 3.7rem;
  width: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.total-text {
  color: #5d4a3e;
  font-weight: 800;
}

.section-filter-all {
  font-size: 1rem;
  color: #5d4a3e;
}

.section-filter {
  margin-bottom: 2.3rem;
}

.filter-by {
  margin-bottom: 0.9rem;
  font-weight: 800;
}

.filter {
  display: flex;
  /* flex-direction: column; */
  gap: 0.6rem;
  margin-bottom: 0.6rem;
  align-items: center;
}

.filter-btn {
  height: 1rem;
  width: 1rem;
  cursor: pointer;

  /* position: absolute;
  z-index: -1;
  opacity: 0; */
}

/* .filter-btn + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.filter-btn + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #999e7dae;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 0.2s;
  cursor: pointer;
}

.filter-btn:checked + label::before {
  border-color: #999e7d;
  background-color: #999e7d;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-btn:not(:checked) + label:hover::before {
  border-color: #999c7f;
} */

.btn-remove-filters,
.btn-remove-filters:link,
.btn-remove-filters:visited {
  cursor: pointer;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: #5d4a3e;
  font-weight: 400;
  background-color: #baa5879b;
  padding: 0.4rem;
  border-radius: 6px;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.btn-remove-filters:hover,
.btn-remove-filters:active {
  color: #ae8c77;
  cursor: pointer;
  border: none;
}

/* -------------- Section Books  -------------------- */

.section-books {
  margin-top: 3rem;
  margin-left: 3rem;
}

.select-list {
  all: unset;
  width: 5rem;
  cursor: pointer;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #5d4a3e;
  font-weight: 500;
  background-color: #baa5879b;
  padding: 0.4rem;
  border-radius: 8px;
  text-align: center;
  margin-right: 1.2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

.btn-filter {
  display: none;
}

.addIcon {
  display: none;

  border: none;
  cursor: pointer;
  border-radius: 9px;
  height: 2rem;
  width: 2rem;
  stroke: #faebca;
  stroke-width: 0.15rem;
  padding: 0.2rem;
  background-color: #e8ac65;
  box-shadow: 0 1px 20px #e8ac65;
}

.books {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  gap: 1.2rem;
  max-width: 45rem;
  color: #382d26;
}

.book {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.1rem 1rem;
  position: relative;
  align-items: center;

  border-radius: 9px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  border-left: 2rem solid #b58463a3;
  padding: 1rem 5rem 1rem 2rem;
  width: 100%;
  height: 10rem;

  transition: all 0.3s;
}

.book:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
}

.book-name {
  font-size: 1.1rem;
  font-weight: 800;
  grid-row: 1 / 2;
}

.book-author {
  font-size: 0.9rem;
  grid-row: 2 / 3;
}

.book-genre {
  cursor: pointer;
  font-size: 0.8rem;
  background-color: #aaae8ccf;
  border: none;
  border-radius: 6px;
  padding: 0.1rem 0.3rem;
  width: max-content;
  grid-row: 3 / 4;
  font-family: inherit;
}

.book-date {
  font-size: 0.8rem;
  grid-row: 4 / 5;
}

.book-comment {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  color: #5d4a3ed4;
  font-size: 1rem;
  max-width: 213ch;
}

/* .comment-hidden {
  display: none;
  border: 1px solid #999e7d;
  border-radius: 9px;
} */

.see-comment {
  display: none;
  cursor: pointer;
  font-size: 0.7rem;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

.book-rating {
  position: absolute;
  left: 96%;
  bottom: 31%;
  background-color: #aaae8c;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

.edit-icon,
.edit-icon:link,
.edit-icon:visited {
  height: 1.2rem;
  width: 1.2rem;
  stroke: #baa587;
  margin-left: 0.1rem;
  transition: all 0.3s;
}

.edit-icon:active,
.edit-icon:hover {
  stroke: #9c8c73;
}

.edit-btn {
  border: none;
  cursor: pointer;
}

/* ---------------Section form-------------------- */

.section-form {
  margin: 3rem 7rem;
  padding: 0.5rem 1rem;
  background-color: #dbd4b2;
  width: 17%;
  height: fit-content;
  border-radius: 12px;
  border-top: 2rem solid #999e7d;
  border-bottom: 2rem solid #999e7d;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);

  display: flex;
  flex-direction: column;
}

.form-header {
  background-color: #dbd4b2;
  font-weight: 800;
  font-size: 1.5rem;
  color: #382d26;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: inherit;
  padding: 1rem;
  padding-bottom: 0;
}

.form-field {
  background-color: inherit;
}

.form-label {
  background-color: inherit;
}

.form-input,
.form-select-genre {
  border: 1px solid #aaae8c;
  width: 100%;
  height: 2rem;
  padding: 0.4rem;
  border-radius: 6px;
  margin-top: 0.2rem;
}

textarea {
  resize: none;
}

.form-select-genre {
  height: 5rem;
  padding: 0.4rem;
}

.form-comment {
  height: 5rem;
  padding: 0.4rem;
  font-family: sans-serif;
}

.form-btns {
  display: flex;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.submit-form-btn,
.submit-form-btn:link,
.submit-form-btn:visited {
  border: none;
  background-color: #d08c60;
  border-radius: 6px;
  padding: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: inherit;
  color: #faebca;
  width: 40%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 0.8rem;
  grid-column: 1 / 3;
}

.submit-form-btn:hover,
.submit-form-btn:active {
  background-color: #ba815b;
}

.btn-delete,
.btn-delete:link,
.btn-delete:visited {
  background-color: #c8a187d2;
  font-size: 0.8rem;
}

.btn-delete:hover,
.btn-delete:active {
  background-color: #c8a187;
}

/* ----------Footer-------------------- */

footer {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5d4a3e;
}

.footer-el {
  background-color: inherit;
}

.footer-icon {
  background-color: inherit;
  fill: #dbd4b2;
  height: 3rem;
  width: 3rem;
  margin: 2rem 0.7rem;
}

.footer-text {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #dbd4b26f;
  margin-bottom: 1rem;
}
